/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Jan-2017, 9:33:46 PM
    Author     : arvin
*/

.GreenBackground{
    background-color: green;
    color: white;
}